# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Set up Go
              uses: actions/setup-go@v4
              with:
                  go-version: "1.23"

            - name: Build
              run: go build -v ./...

            - name: Tests
              run: |
                  go install github.com/mattn/goveralls@latest
                  go test -race -covermode atomic -coverprofile=covprofile ./...

            - name: Send coverage
              uses: shogo82148/actions-goveralls@v1
              with:
                  path-to-profile: covprofile

            - name: golangci-lint
              uses: golangci/golangci-lint-action@v6
              with:
                  version: v1.60
